@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Results</h2>

<h3>Average Rating: @ViewBag.AverageRating</br></h3>

<div>
    @if(ViewBag.Results.Length > 0)
    {
        <table>
            <thead>
                <tr>
                    <td>Industry</td>
                    <td>Rating</td>
                    <td>Feature</td>
                    <td>Improve</td>
                    <td>Feedback</td>
                </tr>
            </thead>
        @foreach (var f in ViewBag.Results)
        {
            <tr>
                    <td>@f.Industry.ToString()</td>
                    <td>@f.Rating.ToString()</td>
                    <td>@f.Feature.ToString()</td>
                    <td>@f.Improve.ToString()</td>
                    <td>@f.UserFeedback.ToString()</td>
                </tr>
        }
        </table>
    }
</div>
